atomicwrites==1.4.1
attrs==22.2.0
backcall==0.2.0
bleach==4.1.0
certifi==2025.4.26
chardet==3.0.4
cloudpickle==2.2.1
cycler==0.11.0
dask==2.30.0
decorator==5.1.1
defusedxml==0.7.1
dotmap==1.2.39
entrypoints==0.4
future==1.0.0
-e git+https://github.com/vtolani95/HumANav-Release.git@9d8436d2471fb4fa1d9d46bef926234540e04b3f#egg=humanav
idna==2.7
importlib-metadata==4.8.3
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.14.0
Jinja2==3.0.3
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.0.0
mistune==0.8.3
more-itertools==4.3.0
nbconvert==5.4.0
nbformat==4.4.0
nest-asyncio==1.6.0
networkx==2.2
notebook==5.7.0
numpy==1.14.5
opencv-python==3.4.3.18
packaging==21.3
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pluggy==0.7.1
prometheus-client==0.4.0
prompt-toolkit==2.0.5
protobuf==3.6.1
ptyprocess==0.6.0
py==1.6.0
pyassimp==4.1.3
pyglet==1.3.2
Pygments==2.2.0
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
pyparsing==2.2.2
pyrsistent==0.18.0
pytest==3.8.2
python-dateutil==2.7.3
python-qt-binding==0.3.4
PyWavelets==1.0.1
PyYAML==6.0.1
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.19.1
scikit-fmm==2019.1.30
scikit-image==0.14.1
scipy==1.3.1
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
typing-extensions==4.1.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
yattag==1.10.0
zipp==3.6.0
